[program:{{ project_name }}]
directory= {{ src_dir }}
command={{ venv_bin }}/gunicorn_start
user={{ proj_user }}
group={{ proj_group }}
autostart=true
autorestart=true
stdout_logfile={{ supervisor_log_file }}
loglevel=info
redirect_stderr=true
